/* Site stuffs *
COLORS:
#C7D5E2
#737081
#183B75
#32637B
#3F978D
FONTS:
font-family: "Futura", sans-serif;
*/

/* ********** TAG SELECTORS ********** */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 80px;
}

.profile-pic {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
}

body {
  background-color: #C7D5E2;
  font-family: "Futura", sans-serif;
}

hr {
  width: 30%;
  border-style: none;
  border-top: 10px dotted #737081;
}

h1 {
  color: #183B75;
}

h2 {
  color: #32637B;
}

h3 {
  color: #3F978D;
}

/* ********** CLASS SELECTORS ********** */

/* ********** ID SELECTORS ********** */
