/* Site stuffs *
COLORS:
#C7D5E2
#737081
#183B75
#32637B
#3F978D
FONTS:
font-family: "Futura", sans-serif;
*/

/* ********** TAG SELECTORS ********** */

body {
  background-color: #C7D5E2;
  font-family: "Futura", sans-serif;
}

hr {
  width: 30%;
  border-style: none;
  border-top: 10px dotted #737081;
}

h1 {
  color: #183B75;
}

h2 {
  color: #32637B;
}

h3 {
  color: #3F978D;
}

/* ********** CLASS SELECTORS ********** */

/* ********** ID SELECTORS ********** */
